USE [DATA_WAREHOUSE_APUESTAS]
GO
/****** Object:  Table [dbo].[DIM_EQUIPOS]    Script Date: 12/1/2024 11:40:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_EQUIPOS](
	[ID_EQUIPO] [int] NOT NULL,
	[NOMBRE] [varchar](50) NULL,
	[CIUDAD_EQUIPO] [varchar](50) NULL,
	[PAIS_EQUIPO] [varchar](50) NULL,
	[REGION_EQUIPO] [varchar](50) NULL,
	[Deporte] [varchar](50) NULL,
 CONSTRAINT [PK_DIM_EQUIPOS] PRIMARY KEY CLUSTERED 
(
	[ID_EQUIPO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_EVENTOS]    Script Date: 12/1/2024 11:40:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_EVENTOS](
	[ID_EVENTO] [int] NOT NULL,
	[TORNEO] [varchar](100) NULL,
	[FASE] [varchar](50) NULL,
	[DEPORTE] [varchar](100) NULL,
	[CIUDAD_EVENTO] [varchar](100) NULL,
	[REGION_EVENTO] [varchar](100) NULL,
	[PAIS_EVENTO] [varchar](100) NULL,
	[EQUIPO_LOCAL] [varchar](100) NULL,
	[EQUIPO_VISITANTE] [varchar](100) NULL,
	[MARCADOR_LOCAL] [int] NULL,
	[MARCADOR_VISITANTE] [int] NULL,
	[BENEFICIO_LOCAL] [REAL] NULL,
	[BENEFICIO_VISITANTE] [REAL] NULL,
	[BENEFICIO_EMPATE] [REAL] NULL,
 CONSTRAINT [PK_DIM_EVENTOS] PRIMARY KEY CLUSTERED 
(
	[ID_EVENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_FECHA]    Script Date: 12/1/2024 11:40:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_FECHA](
	[ID_FECHA] [int] NOT NULL,
	[DIA] [int] NULL,
	[MES] [int] NULL,
	[ANIO] [int] NULL,
 CONSTRAINT [PK_DIM_FECHA] PRIMARY KEY CLUSTERED 
(
	[ID_FECHA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_LUGARES]    Script Date: 12/1/2024 11:40:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_LUGARES](
	[ID_LUGAR] [int] NOT NULL,
	[PAIS] [varchar](50) NULL,
	[REGION] [varchar](50) NULL,
	[CIUDAD] [varchar](50) NULL,
 CONSTRAINT [PK_DIM_LUGARES] PRIMARY KEY CLUSTERED 
(
	[ID_LUGAR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_USUARIOS]    Script Date: 12/1/2024 11:40:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_USUARIOS](
	[ID_USARIO] [int] NOT NULL,
	[NOMBRE_USUARIO] [varchar](100) NULL,
	[EDAD] [int] NULL,
	[GENERO] [varchar](50) NULL,
	[PAIS_USUARIO] [varchar](150) NULL,
	[SALDO] [float] NULL,
	[CIUDAD_USUARIO] [varchar](50) NULL,
	[REGION_USUARIO] [varchar](50) NULL,
 CONSTRAINT [PK_DIM_USUARIOS] PRIMARY KEY CLUSTERED 
(
	[ID_USARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HECHOS_APUESTAS]    Script Date: 12/1/2024 11:40:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HECHOS_APUESTAS](
	[ID_APUESTA] [int] NOT NULL,
	[MONTO] [float] NOT NULL,
	[ID_USUARIO] [int] NULL,
	[ID_EVENTO] [int] NULL,
	[FECHA_APUESTA] [int] NULL,
	[ES_GANADA] [int] NULL,
	[ES_LOCAL] [int] NULL,
	[ES_EMPATE] [int] NULL,
	[ID_LOCAL] [int] NULL,
	[ID_VISITANTE] [int] NULL,
 CONSTRAINT [PK_HECHOS_APUESTAS] PRIMARY KEY CLUSTERED 
(
	[ID_APUESTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_apuestas]    Script Date: 12/1/2024 11:40:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER TABLE [dbo].[HECHOS_APUESTAS]  WITH CHECK ADD  CONSTRAINT [FK_HECHOS_APUESTAS_DIM_EQUIPOS] FOREIGN KEY([ID_LOCAL])
REFERENCES [dbo].[DIM_EQUIPOS] ([ID_EQUIPO])
GO
ALTER TABLE [dbo].[HECHOS_APUESTAS] CHECK CONSTRAINT [FK_HECHOS_APUESTAS_DIM_EQUIPOS]
GO
ALTER TABLE [dbo].[HECHOS_APUESTAS]  WITH CHECK ADD  CONSTRAINT [FK_HECHOS_APUESTAS_DIM_EQUIPOS1] FOREIGN KEY([ID_VISITANTE])
REFERENCES [dbo].[DIM_EQUIPOS] ([ID_EQUIPO])
GO
ALTER TABLE [dbo].[HECHOS_APUESTAS] CHECK CONSTRAINT [FK_HECHOS_APUESTAS_DIM_EQUIPOS1]
GO
ALTER TABLE [dbo].[HECHOS_APUESTAS]  WITH CHECK ADD  CONSTRAINT [FK_HECHOS_APUESTAS_DIM_EVENTOS] FOREIGN KEY([ID_EVENTO])
REFERENCES [dbo].[DIM_EVENTOS] ([ID_EVENTO])
GO
ALTER TABLE [dbo].[HECHOS_APUESTAS] CHECK CONSTRAINT [FK_HECHOS_APUESTAS_DIM_EVENTOS]
GO
ALTER TABLE [dbo].[HECHOS_APUESTAS]  WITH CHECK ADD  CONSTRAINT [FK_HECHOS_APUESTAS_DIM_FECHA] FOREIGN KEY([FECHA_APUESTA])
REFERENCES [dbo].[DIM_FECHA] ([ID_FECHA])
GO
ALTER TABLE [dbo].[HECHOS_APUESTAS] CHECK CONSTRAINT [FK_HECHOS_APUESTAS_DIM_FECHA]
GO
ALTER TABLE [dbo].[HECHOS_APUESTAS]  WITH CHECK ADD  CONSTRAINT [FK_HECHOS_APUESTAS_DIM_USUARIOS] FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[DIM_USUARIOS] ([ID_USARIO])
GO
ALTER TABLE [dbo].[HECHOS_APUESTAS] CHECK CONSTRAINT [FK_HECHOS_APUESTAS_DIM_USUARIOS]
GO
